body {
  font-family: "Lato", sans-serif;
  background-color: #111;
  box-sizing: border-box;
}

img{
  vertical-align: middle;
}

#header{
  font-size: 100px;
  text-align: center;
  background-color: #111;
  color: beige;
  margin-top: 0px;
  padding-top: 0px;
  font-weight: 700;
}

#mainBody{
  background-color: #111;
  color: #f5dbdb;
  margin: 40px;
  height: auto;
}
#mainBody div{
  /* border-style: dashed; */
  border-width: 10px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

/*Align all of the Divs inside of the Row for any Game*/
.game{
  margin-bottom: 50px;
}
.game div{
  float: left;
  width: 33.3333%;
}

.right{
  float: right;
}
/*SLIDE SHOW */
.marioSlides, .marioSlides2 {display: none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  float: none;
}
.slideshow-container div{
  width: 100%;
}
.slideshow-container div img{
  width: 100%;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev{
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  margin-left: auto;
  margin-right: auto;
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

hr.solid {
  border-top: 3px solid #bbb;
}
