html{
  background-color: #08183A;
  color: beige;
}

#header{
  background-color: #152852;
  font-size: 100px;
  text-align: center;
  color: #dedede;
  margin-top: 0px;
  padding-top: 0px;
  font-weight: 700;
}
#main{
  background-color: #152852;
  width: 100%;
}
#loadbutton{
  text-align: center;
  left: 50%;
}

#Nav{
  width: 100%;
  background-color: black;
  height: 50px;
  position: sticky;
  top: 0;
}
#Genres{
    text-align: center;
    width: 25%;
    background-color: black;
    height: 50px;
    font-size: 20px;
}
#Genres div{
  width: 100%;
  display: none;
  height: 50px;
  background-color: black;
}

#myInput {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 8px; /* Add some space below the input */
}

.bodydiv{
  width: 50%;
  float: left;
  font-size: 50px;
}
.bodydiv img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.bodydiv p{
  font-size: 30%;
}
hr.solid {
  border-top: 3px solid #bbb;
  /* position:relative; right:200px; top:2px; */
}
