@font-face {
    font-family: "8-bit Arcade In";
    src: url("fonts/8-bit_arcade_inwebfont.woff");
}

html{
  background-image: url('../img/spacebg.jpg');
}

.button {
  border: black;
  border-style: outset;
  color: white;
  padding: 16px 16px;
  width: 300px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 24px 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color:   #FFFFFF;
  color: black;
  border: 2px solid #CBCBCB;
}

.button1 {
  background-color:   #FFFFFF;
  color: black;
  border: 2px solid #CBCBCB;
}

#header{
  font-size: 100px;
  text-align: center;
  color: #dedede;
  margin-top: 0px;
  padding-top: 0px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
#main{
  opacity: 100%
  background-color: black;
  width: 100%;
}
#loadbutton{
  background-color: #e79c21;
  font-family: "8-bit Arcade In";
  color: #9c4a00;
  text-align: center;
  font-size:50px;
  border-style: solid;
  border-color: #9c4a00;
  border-width: 8px;
}

div{
  font-family: "Lato", sans-serif;
}

#Nav{
  width: 100%;
  background-color: black;
  height: 50px;
  position: sticky;
  top: 0;
  border-style: double;
  border-color: blue;
  border-width: 4px;
}
#Genres{
    font-family: "8-bit Arcade In";
    text-align: center;
    width: 25%;
    background-color: black;
    height: 50px;
    font-size: 50px;
    color: white;
}
#Genres div{
  font-family: "8-bit Arcade In";
  width: 100%;
  display: none;
  height: 50px;
  font-size: 40px;
  background-color: black;
}

#role-playing-games-rpg {
  font-size: 20px;
}

#massively-multiplayer {
  font-size: 20px;
}

#myInput {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 50%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 8px; /* Add some space below the input */
}

.bodydiv{
  width: 50%;
  float: left;
  font-size: 50px;
  font-family: "8-bit Arcade In";
  color:white;
}
.bodydiv img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.bodydiv p{
  font-family: "Courier New";
  font-size: 30%;
}
hr.solid {
  border-top: 3px solid #bbb;
  /* position:relative; right:200px; top:2px; */
}
